.footer {
    text-align: center;
    padding: 10px;
    background-color: #111825;
    font-family: 'Press Start 2P', cursive; }
  
  .footer a {
    margin: 0 15px;
    text-decoration: none;
    color: white; 
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #007bff; 
  }